*~
.libs/
.objs/
Makefile
Makefile.in
aclocal.m4
api/.deps/
api/.dirstamp
api/.libs/
api/Makefile
api/Makefile.in
api/*.lo
api/*.o
api/libparaver-api.la
api/api.vcproj.BSC-VM.bscuser.user
api/Release/
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
config_traits.h
config_types.h
configure
depcomp
include/Makefile
include/Makefile.in
install-sh
libtool
libparaver-api.so
libparaver-kernel.so
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
obj/
paramedir
paramedir.bin
paramedir.bin.exe
paraver-kernel.depend
paraver-kernel-*.tar.gz
paraver-kernel-win32/Release/
paraver-kernel-win32/paraver-kernel.ncb
paraver-kernel-win32/paraver-kernel.suo
paraver-kernel-win32/paraver-kernel.vcproj.BSC-VM.bscuser.user
paraver-kernel.layout
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/*.lo
src/*.o
src/libparaver-kernel.la
stamp-h1
stamp-h2
stamp-h3
utils/pcfparser/.deps/
utils/pcfparser/.dirstamp
utils/pcfparser/.libs/
utils/pcfparser/*.lo
utils/pcfparser/*.o
utils/pcfparser/old/.deps/
utils/pcfparser/old/*.lo
utils/pcfparser/old/*.o

.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
