STATES
0    Idle
1    Running
2    Not created
3    Waiting a message
4    Bloking Send
5    Thd. Synchr.
6    Test/Probe
7    Sched. and Fork/Join
8    Wait/WaitAll
9    Blocked
10    Inmediate Send
11    Inmediate Receive
12    I/O
13    Group Communication
14    Tracing Disabled


STATES_COLOR
0    {117,195,255}
1    {0,0,255}
2    {255,255,255}
3    {255,0,0}
4    {255,0,174}
5    {179,0,0}
6    {0,255,0}
7    {255,255,0}
8    {235,0,0}
9    {0,162,0}
10    {255,0,255}
11    {100,100,177}
12    {172,174,41}
13    {255,144,26}
14    {2,255,177}


DEFAULT_OPTIONS

LEVEL               THREAD
UNITS               MICROSEC
LOOK_BACK           100
SPEED               1
FLAG_ICONS          ENABLED


DEFAULT_SEMANTIC

THREAD_FUNC          Last Evt Val


EVENT_TYPE
6    40000001    Application
6    40000003    Flushing Traces
6    40000004    I/O Read
6    40000005    I/O Write
VALUES
1      Begin
0      End


EVENT_TYPE
6    40000012    Tracing
VALUES
0      Disabled
1      Enabled


EVENT_TYPE
6    40000011    I/O Size


EVENT_TYPE
9   50000001    MPI Point-to-point
VALUES
2   MPI_Recv
1   MPI_Send
0   End


EVENT_TYPE
9   50000002    MPI Collective Comm
VALUES
10   MPI_Allreduce
7   MPI_Bcast
9   MPI_Reduce
0   End


EVENT_TYPE
9   50000003    MPI Other
VALUES
32   MPI_Finalize
31   MPI_Init
0   End


EVENT_TYPE
0  42000050 Instructions completed (Instr completed)
0  42000007 Level 2 cache misses (L2 cache misses)
0  42000060 Total cycles (Total cycles)
0  42000050 Instructions completed (Instr completed)
0  42000007 Level 2 cache misses (L2 cache misses)
0  42000060 Total cycles (Total cycles)
0  42000050 Instructions completed (Instr completed)
0  42000007 Level 2 cache misses (L2 cache misses)
0  42000060 Total cycles (Total cycles)
0  42000050 Instructions completed (Instr completed)
0  42000007 Level 2 cache misses (L2 cache misses)
0  42000060 Total cycles (Total cycles)


GRADIENT_COLOR
0    {0,255,2}
1    {0,244,13}
2    {0,232,25}
3    {0,220,37}
4    {0,209,48}
5    {0,197,60}
6    {0,185,72}
7    {0,173,84}
8    {0,162,95}
9    {0,150,107}
10    {0,138,119}
11    {0,127,130}
12    {0,115,142}
13    {0,103,154}
14    {0,91,166}


GRADIENT_NAMES
0    Gradient 0
1    Grad. 1/MPI Events
2    Grad. 2/OMP Events
3    Grad. 3/OMP locks
4    Grad. 4/User func
5    Grad. 5/User Events
6    Grad. 6/General Events
7    Gradient 7/Hard. Counters
8    Gradient 8
9    Gradient 9
10    Gradient 10
11    Gradient 11
12    Gradient 12
13    Gradient 13
14    Gradient 14



EVENT_TYPE
0    60000019    User functions
VALUES
0      End
1      division (qsort_jenui.c)
2      combinacion (qsort_jenui.c)
3      sequential (qsort_jenui.c)

